[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
djangorestframework = "*"
requests = "*"
python-dateutil = "*"
django = "*"
jellyfin-apiclient-python = "*"

[dev-packages]

[requires]
python_version = "3.13"
